/* Retro Computer */
@font-face {
    font-family: "Retro Computer";
    src: local("Retro Computer"), local("Retro-Computer"), url("../fonts/retro_computer_personal_use.ttf") format("truetype");
    font-display: swap;
    font-weight: 300;    
    font-style: normal;
}

/* Open Sans */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: local("Open Sans"), local("Open-Sans"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
}



html {
    overflow-x: hidden;
}

h1 {
    font-family: 'Retro Computer';
    font-size: 42px;
    letter-spacing: 0;
    color: #FBA58A;
}

h2 {
    font-family: 'Retro Computer';
    font-size: 36px;
    letter-spacing: 0;
    color: #8BC4FF;
}

h3 {
    font-family: halyard-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    letter-spacing: 0;
    color: #9F9E9E;
}

p {
    font-family: halyard-display, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #9F9E9E;
}

a {
    font-family: halyard-display, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #1C3F94;
}

button {
    background: none;
    border: none;
    font-family: ocr-b-std, monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.32px;
    color: #9F9E9E;
}

button:hover {
    color: #91F9B9;
}

header {
    padding: 0!important;
}

.bg-blue {
    background: #D6E5F5;
}

.ml-less-2 {
    margin-left: -2%;
}

.page-header {
    font-size: 46px;
}

.container {
    padding-top: 50px;
}

.logo {
    max-height: 17px;
    margin-right: 25px;
    display: block;
    cursor: pointer;
    padding-top: 0.4rem;
}

.top-navbar {
    background: #D6E5F5;
    height: 50px;
}

.top-navbar li {
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px;

}

.sm-navbar {
    display: none;
}

ul.list-inline li {
    display: inline;
    padding: 0 20px;
}

.nav-item, .list-item {
    list-style: none;
}

.menu-item {
    font-family: 'Retro Computer';
    font-size: 13px;
    color: #000000;
    letter-spacing: 0.65px;
    line-height: 2.0
}

.container {
    padding-top: 50px;
}

.subtitle {
    font-family: 'Open Sans';
    font-size: 26px;
    color: #9F9E9E;
}

.tenom-box {
    height: 130px;
    min-width: 370px;
    border: 1px solid #707070;
    border-radius: 2px;
    position: relative;
    
}

.regular-text {
    font-family: halyard-display, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    color: #9F9E9E;
}

.icon-check {
    max-width: 38px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.footer {
    background: #D6E5F5;
    height: 75px;
}

.footer-icons-block {
    padding-right: 15%;
}

.footer-icons-list {
    list-style: none;
    padding-top: 5px;
}

.footer-icons-list li {
    display: inline;
    margin-right: 15px;
}

.footer-icons-list a:hover {
    text-decoration: none;
}

.uc-icon-shadow {
    box-shadow: 0px 8px 12px #00000029;
}

.uc-simple-icon {
    max-width: 45px;
    border-radius: 10px;
}

.sweeper-logo {
    max-width: 50px;
    border-radius: 0px;
}

.uc-simple-icon-text {
    display: inline-table;
    font-family: 'Open Sans';
    font-size: 20px;
    letter-spacing: 0;
    color: #9F9E9E;
    padding-left: 10px;
    vertical-align: middle;
}

.uc-subtitle-icon {
    border-radius: 20px;
}

.faq-card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 2px;
}

.btn-card:focus {
    box-shadow: none;
}

.card-text {
    font-family: 'Open Sans';
    font-size: 14px;
    color: #9F9E9E;
}


/* Styles for small size (<768px) */

@media screen and (max-width: 768px) {
    .tenom-box {
        margin-top: 20px;
        max-width: 250px;
    }
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 1305px) {
    .lg-navbar {
        display: none;
    }

    .sm-navbar {
        display: flex;
    }

    .ml-less-2 {
        margin-left: 0;
    }
}