/* Retro Computer */
@font-face {
    font-family: "Retro Computer";
    src: local("Retro Computer"), local("Retro-Computer"), url("../fonts/retro_computer_personal_use.ttf") format("truetype");
    font-display: swap;
    font-weight: 300;    
    font-style: normal;
}

html {
    overflow-x: hidden;
}

h1 {
    font-family: 'Retro Computer';
    font-size: 42px;
    letter-spacing: 0;
    color:#FBA58A;
}

h2 {
    font-family: 'Retro Computer';
    font-size: 36px;
    letter-spacing: 0;
    color: #8BC4FF;
}

h3 {
    font-family: halyard-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0;
    color: #9F9E9E;
    font-size: 30px;
    letter-spacing: 0;
    color: #9F9E9E;
}

p {
    font-family: halyard-display, sans-serif;
    font-style: normal;
    color: #9F9E9E;
}

a {
    font-family: halyard-display, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #1C3F94;
}

button, .button {
    background: none;
    border: none;
    font-family: ocr-b-std, monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.32px;
    color: #9F9E9E;
}

button:hover, .button:hover {
    color: #91F9B9;
    color: #91F9B9;
    text-decoration: none;
}

header {
    padding: 0!important;
}

footer {
    padding-top: 0!important;
}

/* css vlad */
.text-left-use-cases {
    text-align: center;
}

/*------------*/
.bg-blue {
    background: #D6E5F5;
}

.ml-less-2 {
    margin-left: -2%;
}

.mt-less-5 {
    margin-top: -5%;
}

.subscribe-button {
    border: 1px solid #333333;
    border-radius: 2px;
}

.page-header {
    font-size: 46px;
}

.container {
    padding-top: 50px;
}

.logo {
    max-height: 17px;
    margin-right: 25px;
    display: block;
    cursor: pointer;
    padding-top: 0.4rem;
}

.top-navbar {
    background: #D6E5F5;
    height: 50px;
}

.top-navbar li {
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;

}

.main-navbar {
    background: transparent;
}

.secondary-navbar {
    display: none;
}

.main-image {
    min-height: 100vh;
    background: url(../images/main.png);
    background-size: cover;
}

.main-title {
    padding-left: 15%;
}

.main-title h1 {
    padding-top: 35%;
    color: #ffffff;
}

.main-title h3 {
    color: #FBA58A;
}

.sm-navbar {
    display: none;
}

ul.list-inline li {
    display: inline;
    padding: 0 20px;
}

.nav-item, .list-item {
    list-style: none;
}

.list-item .fa-chevron-right {
    font-size: 12px;
}

.navbar-toggler, .navbar-toggler:hover, .navbar-toggler:focus {
    display: block;
    border: none;
    outline: none;
    right: 20px;
}

.navbar-toggler i {
    font-size: 30px;
    color: #1C3F94;
}

.menu-item {
    font-family: 'Retro Computer';
    font-size: 13px;
    color: #000000;
    letter-spacing: 0.65px;
    line-height: 2.0
}

.container {
    padding-top: 50px;
}

.title-number {
    font-family: 'Retro Computer';
    font-size: 200px;
    color: #FBA58A;
}

.tenom-box {
    height: 130px;
    min-width: 370px;
    border: 1px solid #707070;
    border-radius: 2px;
    position: relative;
    
}

.library-img {
    max-width: 100%;
}

.regular-text {
    font-family: halyard-display, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 17px;
    color: #9F9E9E;
}

.icon-check {
    max-width: 38px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.footer {
    background: #D6E5F5;
    height: 75px;
}

.footer-icons-list {
    list-style: none;
    padding-top: 5px;
}

.footer-icons-list li {
    display: inline;
    margin-right: 15px;
}

.footer-icons-list a:hover {
    text-decoration: none;
    opacity: 0.7;
}

.uc-icon-shadow {
    box-shadow: 0px 8px 12px #00000029;
}

.uc-simple-icon {
    max-width: 45px;
    border-radius: 10px;
}

.sweeper-logo {
    max-width: 50px;
    border-radius: 0px;
}

.uc-simple-icon-text {
    font-family: 'Retro Computer';
    font-style: normal;
    display: inline-table;
    font-size: 18px;
    letter-spacing: 0;
    color: #1C3F94;
    padding-left: 10px;
    vertical-align: middle;
}

.uc-subtitle-icon {
    border-radius: 20px;
}

.faq-card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 2px;
}

.btn-card:focus {
    box-shadow: none;
}

.card-header {
    background: #ffffff;
}

.card-text {
    font-family: 'Open Sans';
    font-size: 14px;
    color: #9F9E9E;
}

/* VIDEO SECTION */
#video-sec {
    background-color: #fff;
}
.section-video{ padding: 90px 0px;
    
}


.video-center {
    max-width: 700px;
    max-height: 470px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0; 
    overflow: hidden;
    border: 12px solid #FBA58A;
    border-radius: 6px;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/* Styles for small size (<768px) */

@media screen and (max-width: 768px) {
    .tenom-box {
        margin-top: 20px;
        max-width: 250px;
    }
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .text-left-use-cases {
        text-align: left;
    }
}

@media screen and (max-width: 1279px) {
    h3 {
        font-size: 24px;
    }

    .lg-navbar {
        display: none;
    }

    .page-header {
        font-size: 32px;
    }


    .main-title h1 {
        padding-top: 40%;
    }

    .sm-navbar {
        display: flex;
        justify-content: flex-end;
    }

    .menu-item {
        font-size: 16px;
        color: #626262;
    }

    .ml-less-2 {
        margin-left: 0;
    }

    .tenom-box {
        min-width: 100%;
    }

    .footer {
        height: 100%;
    }

    .footer-icons-list {
        padding-left: 0;
        margin-bottom: 20px;
    }

    .footer-icons-list li {
        margin-left: 10px;
        margin-right: 10px;
    }
}